.questionsList{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}

#q1{
    background-color: red;
}

#q2{
    background-color: blue;
}

#q3{
    background-color: purple;
}










.questionList{
    
    background-color: orange;
    list-style: none;
    display: inline-block;
    
}

.questionsListDiv{
    background-color: chartreuse;
    text-align: center;
}

.child-item{
    background-color: bisque;
    
}

#Q1:active{
    background-color: red;
}

#Q1.active{
    background-color:blueviolet;
}

#Q2:hover{
    background-color: blue;
}

#Q3:hover{
    background-color: purple;
}